/* src/components/Loader.css */
.loader-container i {
  background-color: blue !important;
  height:50px;
  width:50px;
}
/* Default background color for small screens (mobile) */
body {
  background-color: #a8dadc;
}

/* Change background color for medium screens (tablets) */
@media (min-width: 600px) {
  body {
    background-color: #a8dadc;
  }
}

/* Change background color for large screens (desktops) */
@media (min-width: 1024px) {
  body {
    background-color: #a8dadc;
  }
} 